pandas
numpy
matplotlib
networkx
requests
python-dateutil
web3
duneanalytics
etherscan-python
python-dotenv
eth-utils
flask
nbconvert
pysha3
requests
openpyxl
ipywidgets==7.6.0
ipympl
seaborn
plotly
dash
jupyter-dash
scikit-learn
maturin
cryo_python==0.1.2
ctc
polars
pyarrow
Flask-CORS
